<div class="container">
     <h2>Salvar Contato</h2>

     <form  (ngSubmit)="onSubmit()" #contatoForm = "ngForm">
         
        <div class="form-group has-danger" [ngClass]= "{'form-group':true, 'has-danger':!nome.valid && !nome.pristine, 'has-success': nome.valid && nome.pristine }">
            <label for="nome" class="form-control-label">Nome</label>
            <input type="text" class="form-control form-control-danger" placeholder="Insira o nome" 
            required
            #nome="ngModel"
            name ="nome"
            [(ngModel)]="contato.nome">     
                <div class="form-control-feedback" [hidden]="nome.valid || nome.pristine">O campo nome é obrigatório!</div>
         </div>

         <div class="form-group">
            <label for="nome">Email</label>
            <input type="text" class="form-control" placeholder="Insira o nome" 
            required
            name = "email"
            [(ngModel)] ="contato.email">     
         </div>

         <div class="form-group">
            <label for="nome">Telefone</label>
            <input type="text" class="form-control" placeholder="Insira o nome"
            required
            name = "telefone"
            [(ngModel)] ="contato.telefone">     
         </div>

         <button type="submit" class="btn btn-success" [disabled]="!contatoForm.form.valid">Salvar</button>
         <a  class="btn btn-secondary" routerLink="/">Voltar</a>
     </form>

</div>